:root {
  /* Colors */
  --color-purple: #6941c6;
  --color-pink: #7b1984;
  --color-light-pink: #fac3ff;
  --color-dark: #101828;
  --color-gray: #475467;
  --color-white: #ffffff;
  --color-light-gray: #f9fafb;
  --color-blue: #61dafb;
  --color-blue-hover: #4fa8c7;
  --color-light-blue: #85d9f1;
  --color-border: #d0d5dd;
  --color-placeholder: #a0a0a0;
  --color-black: #000000;
  --color-light-green: #ceffcc;
  --color-green: #008000;

  /* Sizes */
  --size-4: 4px;
  --size-6: 6px;
  --size-8: 8px;
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-26: 26px;
  --size-28: 28px;
  --size-30: 30px;
  --size-32: 32px;
  --size-34: 34px;
  --size-36: 36px;

  --full-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
